body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(#ffc0d9, #ffe6f0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.card {
  background: white;
  width: 340px;
  padding: 25px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.big {
  width: 90%;
  max-width: 500px;
}

h1, h2 {
  color: #e91e63;
}

p {
  color: #555;
  line-height: 1.8;
}

input {
  width: 80%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

button {
  background: #e91e63;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #d81b60;
}

.hidden {
  display: none;
}

#error {
  color: red;
}

/* الصور */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  gap: 10px;
  margin: 15px 0;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}
